extends layouts/main-layout.pug

block content
    if !profileUser
        span.errorMessage Check the url you are trying to access
    else  
        script.
            let profileUserId = '!{profileUser._id}';
            let selectedTab = '!{selectedTab}';

        - followersCount = profileUser.followers.length || 0
        - followingCount = profileUser.following.length || 0
            
        .profileHeaderContainer
            .coverPhotoSection
                .coverPhotoContainer
                    if profileUser.coverPic
                        img(src=profileUser.coverPic, alt="User's cover photo")

                    if profileUser._id == userLoggedIn._id
                        button.coverPhotoButton(data-toggle="modal", data-target="#coverPhotoUploadModal")
                            i.fas.fa-camera

                .userImageContainer
                    img(src=profileUser.profilePic, alt="User profile image")

                    if profileUser._id == userLoggedIn._id
                        button.profilePictureButton(data-toggle="modal", data-target="#imageUploadModal")
                            i.fas.fa-camera

            .profileButtonsContainer 
                if profileUser._id != userLoggedIn._id
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        i.fas.fa-envelope

                    - var profileUserId = profileUser._id.toString();
                    - if(userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
                        +createFollowButton(profileUser, true)
                    - else
                        +createFollowButton(profileUser, false)

            .userDetailsContainer
                span.displayName #{profileUser.full_name}
                span.username @#{profileUser.username}
                span.description #{profileUser.description}

                .followersContainer
                    a(href=`/profile/${profileUser.username}/following`)
                        span.value #{followingCount}
                        span Following
                    a(href=`/profile/${profileUser.username}/followers`)
                        span#followersValue.value #{followersCount}
                        span Followers
        .tabsContainer
            +createTab("Posts", `/profile/${profileUser.username}`, selectedTab == "post")
            +createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab == "replies")
            +createTab("Media", `/profile/${profileUser.username}/media`, selectedTab == "media")

        .pinnedPostContainer
        .postsContainer

        +createPostModals(userLoggedIn)
        +createImageUploadModal()
        +createCoverPhotoUploadModal()

block scripts
    script(src="/js/profile.js")